<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-car"></i> ะะฒัะพัะบะพะปะฐ
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/">๐ ะะพะปะพะฒะฝะฐ</a>
                <a class="nav-link" href="/students">๐จโ๐ ะกััะดะตะฝัะธ</a>
                <a class="nav-link" href="/analytics">๐ ะะฝะฐะปััะธะบะฐ</a>
                <a class="nav-link" href="/indexes">โก ะะฝะดะตะบัะธ</a>
            </div>
        </div>
    </div>
</nav>